## Lambda functions
- Lambda functions represents function concept
- But we can write in a single line
- like **list comprehension**, **lambda functions** similar only
- It will **decrease the time complexity**
- always remember if we use many **for loops** or **many conditions** using multiple lines **time complexity will increase**

**It will use the keyword lambda**
lambda <arguments> : <expression>

In [2]:
def summ(n):
    return(n+10)
summ(10)

20

### pattern-1

**function with only one argument**

- function name
- argument name
- return output

In [ ]:
# syntax:
<funtion_name> = lambda <argument_name> : <return output>

In [10]:
summ = lambda n:n+10
summ(10)

20

In [12]:
def cube(n):
    return(n**3)
cube(10)

1000

In [14]:
cube = lambda n:n**3
cube(10)

1000

### pattern -2

In [15]:
# syntax
# 2 arguments
<funct name> = lambda <argument1>,<argument2>:<return o/p>
call the function

In [17]:
cube = lambda a,b:a**b
cube(2,3)

8

In [18]:
add = lambda a,b:a+b
add(2,3)

5

In [22]:
avg = lambda a,b,c:round((a+b+c)/3)
avg(50,55,90)

65

### Default aarguments

In [25]:
def add(a=3,b=5):
    return (a+b)
add()

8

In [1]:
add = lambda a=3,b=5:a+b
add()

8

In [28]:
avg = lambda a = 3,b=6,c=8:round((a+b+c)/3,2)
avg()

5.67

### pattern-4

### if - else

In [ ]:
# syntax
functname = lamda <arg1>,<arg2> : <if_o/p><if cond><else><else o/p>

In [29]:
def max(a,b):
    if a>b:
        return(a)
    else:
        return(b)
max(2,3)

3

In [31]:
max = lambda a,b : a if a>b else b 
max(2,3)

3

### pattern-5

### using list

In [32]:
# syntax
# lambda <variable> : <o/p>,<iterator>
# <iterator> = list

In [33]:
l = ['hyd','chennai','mumbai']
op = []
for i in l:
    op.append(i.capitalize())
op

['Hyd', 'Chennai', 'Mumbai']

In [39]:
lambda  i:i.capitalize()
# so now we created a function
# wher the i is coming from
# i is coming from list(l)
# so, now include l
lambda i : i.capitalize(),l
# to map the output to the function
# apply map

(<function __main__.<lambda>(i)>, ['hyd', 'chennai', 'mumbai'])

### map

### mapping the expression and list

In [ ]:
- step-1: normal expression
    - lambda i:i.capitalize()
- step-2: add the iterator
    - lambda i : i.capitalize(),l
- step-3: map the both
    - map(lambda i : i.capitalize(),l)
- step-4: save the value in a list
    - list(map(lambda i : i.capitalize(),l))

In [43]:
l = ['hyd','chennai','mumbai']
map(lambda i : i.capitalize(),l)
# it is stored at some location
#

In [44]:
# apply list or for loop 
list(map(lambda i : i.capitalize(),l))

['Hyd', 'Chennai', 'Mumbai']

In [45]:
dir(map)

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

In [ ]:
- case-1: function call with one argument
    - lambda arguments : Expression
    - lambda variables : return output
- case-2 : function call with 2 arguments
    - lambda arg1, arg2 : expression
    - lambda var1,var2: return o/p
- case-3: lambda operations using default arguments
    - lambda arg1, arg2=56 : expression
    - lambda var1,var2=89 : return o/p
- case-4: Function call with2 arguments and if-else:
    - lambda arg1, arg2 : expression
    - lambda var1,var2: <if_o/p> <if_cond> <else> <else_o/p> <for_loop>
- case-5: Lambda functions using List
    - lambda <variable> : expression
    - <o/p>,<iterator> :

In [4]:
l = ['hyd', 'chennai', 'mumbai']
tuple(map(lambda i : i.upper(),l))

('HYD', 'CHENNAI', 'MUMBAI')

In [3]:
eo= list(filter(lambda i: f"{i} is even" if i%2==0 else f"{i} is odd" for i in range(10)))
eo

TypeError: filter expected 2 arguments, got 1

In [4]:
eo_lambda = lambda i: f"{i} is even" if i % 2 == 0 else f"{i} is odd"
eo = [eo_lambda(i) for i in range(10)]
print(eo)

['0 is even', '1 is odd', '2 is even', '3 is odd', '4 is even', '5 is odd', '6 is even', '7 is odd', '8 is even', '9 is odd']

## Filter

- whenever **if conditions** are their use **filter**

In [ ]:
l = ['hyd', 'chen#nai', 'mu#mbai','blr']
for i in

In [14]:
l = ['hyd', 'chen#nai', 'mu#mbai','blr']
tuple(map(lambda i:'#' in i ,l)) 
# mistake -1 :tuple(map(lambda i : if '#' in i, l))
#     donot write if

(False, True, True, False)

In [16]:
tuple(filter(lambda i:'#' in i ,l))

('chen#nai', 'mu#mbai')

In [19]:
n = [1,3,2,7,6]
tuple(filter(lambda i:i%2==0,n))

(2, 6)

## Reduce
- It is used to when **sum of numbers** 
- max(l1),min(l1),len(l1),sum(l1)
- for all these keywords **reduce** is used

- All inbuilt functions  can acheive by **Reduce**
- Reduce is available from **functtools** package
- **level-1** : reduce(lambda summ,i: summ+i, l1)
- **level-2** : filter(lambda summ,i : summ+i,l1, initial_value)
- for example we wantto intialize **summ=0** then we choose **level-1**
- for example we wantto **start with other** than then we choose **level-2**

In [28]:
l1 = [1,2,3,4,5]

# i want sum of the list
# method -1: sum(l1)
# method-2: intialization
#   sum = 0 sum = sum+i

tuple(map(lambda i,sum : sum+i,l1))

TypeError: <lambda>() missing 1 required positional argument: 'sum'

In [33]:
import functools as ft
from functools import reduce

In [38]:
functools.reduce(lambda i,sum: sum+i,l1)

15

In [37]:
ft.reduce(lambda i,sum: sum+i,l1,5)

20

## Explore the reduce

In [ ]:
import functools
l1 = [1,2,3,4,5]
functools.reduce(lambda i ,sum: sum+i,l1)

from functools import reduce
reduce(lambda i ,sum: sum+i,l1)

import functools as ft
ft.reduce(lambda i ,sum: sum+i,l1)

In [39]:
functools.reduce(lambda i,mul: mul*i,l1)

120

In [47]:
tuple(map(functools.reduce(lambda x,y: x>y,l1))

SyntaxError: incomplete input (2686739722.py, line 1)

In [46]:
import functools
functools

In [ ]:
# map : directatteck
# reduce: inbuiltfunctions some intialization
# filetr: if condition
# word document

In [5]:
# even or odd
# list compreh
[f" {i} is even" if i%2==0 else f" {i} is odd" for i in range(10)]

[' 0 is even',
 ' 1 is odd',
 ' 2 is even',
 ' 3 is odd',
 ' 4 is even',
 ' 5 is odd',
 ' 6 is even',
 ' 7 is odd',
 ' 8 is even',
 ' 9 is odd']

In [11]:
# lambda
eo = lambda i : f" {i} is even" if i%2==0 else f" {i} is odd" 
eo_lam = [eo(i) for i in range(10)]
print(eo)
print(eo_lam)

<function <lambda> at 0x000001FF2D94BD80>
[' 0 is even', ' 1 is odd', ' 2 is even', ' 3 is odd', ' 4 is even', ' 5 is odd', ' 6 is even', ' 7 is odd', ' 8 is even', ' 9 is odd']