### List Comprehension

- we store output values by using append operations
- we are taking empty list
- we are iterating through elements from a given list
- result we are appending in new list

In [3]:
# squares of numbers

# normal code
sq_list = []
for i in range(10):
    sq_list.append(i*i)
sq_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

# for loop

In [6]:
# list compreh
sq_l = []
[i*i for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [8]:
l1=['hyd','mumbai','chennai','blr']
# upper_list= ['Hyd','Mumbai','Chennai','Blr']
[i.upper() for i in l1 ]

['HYD', 'MUMBAI', 'CHENNAI', 'BLR']

In [9]:
l2=['Hyd','Mumbai','Chennai','Blr']
# lower_list=['hyd','mumbai','chennai','blr']
[i.lower() for i in l2]

['hyd', 'mumbai', 'chennai', 'blr']

In [11]:
# Q4)
l2=['Hyd','Mumbai','Chennai','Blr']
# sum of the indexes of all elements
for i in l2:
    print(l2.index(i))

0
1
2
3

In [14]:
l3=[l2.index(i) for i in l2]
sum(l3)

3

In [13]:
l2 = ['a','b','c']
for i in range(len(l2)):
    print(i)

0
1
2

In [18]:
for i in l2:
    print(i)

a
b
c

In [20]:
sum([l2.index(i) for i in l2])

3

## for loop - if condition

In [21]:
l2=['Hyd','Mumbai','Chennai','Blr']
# len>4
[i for i in l2 if len(i)>4]

['Mumbai', 'Chennai']

In [23]:
# Q3)
l1=['Hyd','Mum#bai','Chen#nai','blr']
# ans=['Mum#bai'',Chen#nai']
# we want lements which are having '#'
[i for i in l1 if '#' in i]

['Mum#bai', 'Chen#nai']

In [25]:
# Q5)
l1=['Hyd','Mumbai','chennai','blr']
# ans= ['Hyd','Mumbai']
# we want lements which are having first letter capital
[i for i in l1 if i==i.title()]

['Hyd', 'Mumbai']

In [7]:
#Q6)
l1=['Hyd','Mum#bai','Chen#nai','blr']
# ans_#=['Mum#bai'',Chen#nai'] for loop and if cond
# ans_without_#=['Hyd'','blr']
i1=[i for i in l1 if '#' in i]
i2 = [i for i in l1 if '#' not in i]
print(i1)
print(i2)

['Mum#bai', 'Chen#nai']
['Hyd', 'blr']

In [5]:
# Q9) 
str1='virat.kohli@rcb.com, Rohit.sharma@mi.co, KL.Rahul@lucknow.com'
# Firstname=[] second name=[] cname =[]
# append first name should be in first name list
# second name shoul be in second name list
# thirs name will be in thirs name list
l1 = str1.split()
l1

['virat.kohli@rcb.com,', 'Rohit.sharma@mi.co,', 'KL.Rahul@lucknow.com']

In [6]:
l1[0]

'virat.kohli@rcb.com,'

In [8]:
first = l[0][:l[0].index('.')]
first

'virat'

In [16]:
c = l[0][l[0].index('@')+1:l[0].index('.',l[0].index('.')+1)]
c

'rcb'

In [18]:
sec = l[0][l[0].index('.')+1:l[0].index('@')]      
sec

'kohli'

In [29]:
str1='virat.kohli@rcb.com, Rohit.sharma@mi.co, KL.Rahul@lucknow.com'
l = str1.split()
first = [l[i][:l[i].index('.')] for i in range(len(l))]
second = [l[i][l[i].index('.')+1:l[i].index('@')] for i in range(len(l))]
c = [l[i][l[i].index('@')+1:l[i].index('.',l[i].index('.')+1)] for i in range(len(l))]
print(first)
print(second)
print(c)

['virat', 'Rohit', 'KL']
['kohli', 'sharma', 'Rahul']
['rcb', 'mi', 'lucknow']

## if-else:

In [ ]:
[<if_o/p> <if_cond> <else> <else_o/p> <for>]

### even-ood

In [32]:
even=[]
odd = []
for i in range(10):
    if i%2==0:
        even.append(f"{i} is even")
    else:
        odd.append(f"{i} is odd")
even,odd

(['0 is even', '2 is even', '4 is even', '6 is even', '8 is even'],
 ['1 is odd', '3 is odd', '5 is odd', '7 is odd', '9 is odd'])

In [33]:
[f"{i} is even" if i%2==0 else f"{i} is odd" for i in range(10)]

['0 is even',
 '1 is odd',
 '2 is even',
 '3 is odd',
 '4 is even',
 '5 is odd',
 '6 is even',
 '7 is odd',
 '8 is even',
 '9 is odd']

## reduce

- reduce is used for the sumoperations 
- max, min, len, sum
- for all above reduce is used
- reduce is from functools package
- import the functools
- import reduce from functools

In [36]:
import functools as ft
from ft import reduce

ModuleNotFoundError: No module named 'ft'

In [37]:
import functools

In [38]:
import functools as ft

In [40]:
from functools import reduce

In [47]:
##sum of list of nums
l1 = [1,2,3,4]
ft.reduce(lambda summ,i : summ+i,l1  )

10